<!-- Content Body Start -->
<div class="content-body section">
    <!-- About Section Start -->
    <div class="home">
        <div class="container">
            <div class="row">
                <!-- About Content -->
                <div class="section-content col-xl-12 col-12">
                    <h3 class="block-title">{{@model.intro.title}}</h3>
                    <p>
                        {{@model.intro.intro}}
                    </p>

                    <!-- Personal Info -->
                    <ul class="personal-info">
                        <li><span>Hometown:</span>{{@model.intro.hometown}}</li>
                        <li><span>Current Town:</span>{{@model.intro.currentTown}}</li>
                    </ul>
                    <h3 class="block-title">Skills</h3>
                    <ul class="personal-info">
                        <li><span>Specialties:</span>{{@model.intro.specialties}}</li>
                        <li><span>UI Frameworks:</span>{{@model.intro.frameworks}}</li>
                        <li><span>Other:</span>{{@model.intro.other}}</li>
                    </ul>
                    <!-- Skill Wrap -->
                    <div class="skill-wrap">
                        <!-- Single Skill -->
                        <p>Relative skills self-assessment</p>
                        <div class="single-skill">
                            <span>Front-End Development</span>
                            <div class="skill-bar">
                                <div class="skill-progress" style="width: 100%;"></div>
                            </div>
                        </div>

                        <div class="single-skill">
                            <span>Graphic Design (Photoshop, Sketch, Illustrator)</span>
                            <div class="skill-bar">
                                <div class="skill-progress" style="width: 75%;"></div>
                            </div>
                        </div>

                        <!-- Single Skill -->
                        <div class="single-skill">
                            <span>Web Design</span>
                            <div class="skill-bar">
                                <div class="skill-progress" style="width: 85%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ProjectList />