<div class="header-section section d-block d-lg-none">
	<div class="container-fluid">
		<div class="row align-items-top">
			<div class="header-logo col-9">
				<LinkTo @route="index">
					<img alt="Venus Ang - Profile Picture" src="/{{rootURL}}assets/images/profile-pic.jpg" />
				</LinkTo>
				<div class="header-details">
					<div>
						<div class="name">Venus Ang</div>
						<div>UI Developer</div>
						<div>Greater Los Angeles Area</div>
					</div>
					<div class="social-media">
						<a href="/{{@rootURL}}assets/VenusAngNov2019.pdf" aria-label="Download Venus Ang's resume" target="_blank"
							rel="noopener">{{fa-icon "file-pdf-o"}}</a>
						<a href="http://github.com/venusang" aria-label="Visit Venus Ang's github repository" target="_blank"
							rel="noopener">{{fa-icon "github"}}</a>
						<a href="http://linkedin.com/in/venusang" aria-label="Connect with Venus Ang on LinkedIn" target="_blank"
							rel="noopener">{{fa-icon "linkedin"}}</a>
					</div>
				</div>
			</div>
			<div class="header-toggle-btn col text-right">
				<button {{on "click" this.closeSideMenu}} aria-label="toggle side menu"
					class="side-header-toggle"><span></span></button>
			</div>
			<div class="social-media-mobile">
				<a href="/{{@rootURL}}assets/VenusAngNov2019.pdf" aria-label="Download Venus Ang's resume" target="_blank"
					rel="noopener">{{fa-icon "file-pdf-o"}}</a>
				<a href="http://github.com/venusang" aria-label="Visit Venus Ang's github repository" target="_blank"
					rel="noopener">{{fa-icon "github"}}</a>
				<a href="http://linkedin.com/in/venusang" aria-label="Connect with Venus Ang on LinkedIn" target="_blank"
					rel="noopener">{{fa-icon "linkedin"}}</a>
			</div>
		</div>
	</div>
</div>
<div class="side-menu-overlay" {{on "click" this.closeSideMenu}}></div>
<div class="side-header">
	<div class="side-header-inner">
		<button aria-label="close side menu" {{on "click" this.closeSideMenu}} class="side-header-close d-block d-lg-none">
			<span></span>
		</button>
		<div class="side-header-logo">
			<div class="name">Venus Ang</div>
			<LinkTo @route="index" {{on "click" this.hideOverlay}}>
				<img src="/{{rootURL}}assets/images/profile-pic.jpg" alt="Venus Ang - profile picture" />
			</LinkTo>
			<div>UI Developer</div>
			<div>San Diego, CA</div>
			<div class="social-media">
				<a href="/{{@rootURL}}assets/VenusAngNov2019.pdf" aria-label="Download Venus Ang's resume" target="_blank"
					rel="noopener">{{fa-icon "file-pdf-o"}}</a>
				<a href="http://github.com/venusang" aria-label="Visit Venus Ang's github repository" target="_blank"
					rel="noopener">{{fa-icon "github"}}</a>
				<a href="http://linkedin.com/in/venusang" aria-label="Connect with Venus Ang on LinkedIn" target="_blank"
					rel="noopener">{{fa-icon "linkedin"}}</a>
			</div>
		</div>
		<div class="side-header-menu">
			<nav id="side-menu" class="side-menu fullpage-menu">
				<LinkTo @route="index" {{on "click" this.hideOverlay}}>HOME</LinkTo>
				<span>|</span>
				<LinkTo @route="projects" {{on "click" this.hideOverlay}}>PORTFOLIO</LinkTo>
			</nav>
		</div>
		<div class="side-header-footer">
			<hr />
			<div class="side-header-copyright">
				<p>&copy; 2020 MISSDEMILO.COM<br />ALL RIGHTS RESERVED</p>
			</div>
			<kudos>
				<a rel="noopener" aria-label="Learn more about Ember.js" href="https://emberjs.com/" target="_blank">
					<img alt="San Diego Zoey - Ember Mascot" src="/{{rootURL}}assets/images/sandiego-zoey.svg" width="55"
						height="63" />
					<div class="text">This site was built in<br />Ember Octane</div>
				</a>
			</kudos>
		</div>
	</div>
</div>