{{title @project.title}}
<div class="content-body bg-grey project-details">
	<div class="container">
		<div class="row">
			<div class="portfolio-details-image col-lg-9 col-12 mb-sm-30 mb-xs-30">
				{{#each @project.screenshots as |screenshot|}}
				<img src="/{{rootURL}}assets/images/portfolio/{{screenshot}}" alt="project description">
				{{/each}}
			</div>
			<div class="portfolio-details-content col-lg-3 col-12">
				<a href="#" class="category">PROJECT</a>
				<h1 class="title">{{@project.title}}</h1>
				{{#if @project.description}}<p>{{@project.description}}</p>{{/if}}
				<ul class="project-info">
					<li><span>Client:</span> {{@project.client}}</li>
					{{#if @project.website}}
					<li><span>Website{{#if (gt @project.website.length 1)}}s{{/if}}:</span>
						{{#each @project.website as |website|}}
						<a href="{{website}}" target="_blank">{{website}}</a>
						{{/each}}
					</li>
					{{/if}}
					{{#if @project.github}}
					<li><span>Github Repo{{#if (gt @project.github.length 1)}}s{{/if}}:</span>
						{{#each @project.github as |repo|}}
						<a href="{{repo}}" target="_blank">{{repo}}</a>
						{{/each}}
					</li>
					{{/if}}
					<li>
						<span>{{#if (gt @project.services.length 1)}}Services {{else}}Service{{/if}}:</span>
						{{#each @project.services as |service|}}
						<a href="#">{{service}}</a>
						{{/each}}
					</li>
				</ul>
				<div class="project-nav">
					{{#if @project.previous}}
					<LinkTo @class="prev-project" aria-label="View {{@project.previous}} project details" @route="project"
						@model={{@project.previous}}>
						{{fa-icon "chevron-left"}} Previous
					</LinkTo>
					{{/if}}
					{{#if @project.next}}
					<LinkTo @class="next-project" aria-label="View {{@project.next}} project details" @route="project"
						@model={{@project.next}}>
						Next {{fa-icon "chevron-right"}}
					</LinkTo>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>
